html {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.header a {
  color: white;
  font-size: 18px;
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
}
.designed {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
}
.copyright {
  font-size: 11px;
}
.footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}
.footer a {
  color: white;
}
.process h2 {
  font-size: 32px;
  font-weight: bold;
}
.process h3, .work h3 {
  font-size: 23px;
  font-weight: bold;
}
.process p, .work p {
  font-size: 14px;
}
